
@font-face {
  font-family:"Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap")
}
body{
  margin-top: 70px;
  font-family: "Roboto", sans-serif;
  background-color: #d2d2d21f;
}

@media (min-width: 1200px){
  .modal-xl {
    max-width: 100%;
    margin: 10px;
  }
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bg-javahome-dark,.bg-javahome-dark {
  background: #000000;
}

.container-cupom{
  border-radius: 20px;
  background: #ececec;
  margin-bottom: 20px;
}

.carrinho-form-cupom{
  margin: 30px;
}
.carrinho-form-cupom > label{
  margin-right: 10px;
}
.carrinho-btn-qtd{
  border: none;
  margin-right: 5px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background: black;
  color: white;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  border-radius: 60px;
}

#carrinho-qtd{
  width: 50px;
  text-align: center;
}

.carrinho-valor-uni{
  border: none;
  text-align: left;
  background: #ececec;
}

.carrinho-footer{
  margin: 20px;
}
.carrinho-footer-info{
  margin-top: 20px;
}
.carrinho-form-add{
  display: inline-block;
}
.carrinho-container-frete{
  margin-left: 30px;
  padding: 15px;
}

#fretes{
  margin-bottom: 5px;
}
.pedido-box{
  padding: 30px;
}
.compra-informacoes-btn-indereco{
  border: none;
}
.compra-informacoes-btn-indereco:hover{
  background: #c7daf1;
}
.compra-informacoes-form-boleto{
  display: none;
}